Repository niklv/vuex-coolstory: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

0.0.2
  package-lock.json
  package.json
Due: none

optimize package
  package.json
Due: none

0.0.3
  package-lock.json
  package.json
Due: none

fix readme link
  README.md
Due: none

update readme
  README.md
Due: none

0.0.4
  package-lock.json
  package.json
Due: none

set homepage, repository and bug in package.json
  package.json
Due: none

0.0.5
  package-lock.json
  package.json
Due: none

update deps
  package-lock.json
  package.json
Due: none

0.0.6
  package-lock.json
  package.json
Due: none

Fix readme
  README.md
Due: none

update deps, add github actions, fix #6
  .github/workflows/npm.yml
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

update gh workflow
  .github/workflows/npm.yml
Due: none

remove gpr, add badge
  .github/workflows/npm.yml
  README.md
Due: none

document usage with vuex modules, fix #4
  .github/workflows/npm.yml
  .gitignore
  README.md
  examples/modules/src/app.vue
  examples/modules/src/index.js
  examples/modules/src/store.js
  examples/modules/webpack.config.js
  examples/simple/src/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

feat: Call saga not only from the component
  index.js
Due: prettier --write, eslint --cache --fix

feat: Proxing commits from Vues to saga
  index.js
Due: prettier --write, eslint --cache --fix

feat: Proxing commits from Vues to saga
  README.md
  index.js
Due: prettier --write, eslint --cache --fix

update dev deps
  package-lock.json
  package.json
Due: none

add changelog generation
  CHANGELOG.md
  package.json
Due: none

0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix changelog
  CHANGELOG.md
Due: none

fix changelog generation
  CHANGELOG.md
  package.json
Due: none

chore: Update readme
  README.md
Due: none

fix lint and reformat
  index.js
Due: prettier --write, eslint --cache --fix

0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

feat: Add saga outside plugin
  index.js
Due: prettier --write, eslint --cache --fix

chore: bump deps, update docs
  .eslintignore
  README.md
  index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix docs
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *rc)
  eslint --cache --fix: any of: *.js
